$gray: #8898aa;
$primary: #32325d;

.main-container{
  padding: 2rem;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr;
  column-gap: 2rem;
}

.form{
  grid-column: 1;
  &__field{
    display: flex;
    input {
      margin-right: 1rem;
    }
    &--search{
      flex: 1;
      position: relative;
      margin-right: 1rem;
    }
  }
}

.truncate{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.label {
  color: $gray !important;
  font-size: 0.75rem;
  font-weight: 300;
  align-self: center;
}

.title{
  grid-column: 2;
  grid-row: 1;
  font-weight: 600;
  line-height: 1.5;
  font-size: 1.5rem;
  color: $primary;
}

.movies-container{
  margin-top: 0.75rem;
}

.movie{
  display: flex;
  flex-direction: column;
  margin-top: 0.75rem;
  &__title{
    font-weight: 600;
    line-height: 1.5;
    color: $primary;
  }
  &__release-date{
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.7;
    color:#525f7f;
  }
  &__opening-crawl{
    @extend .movie__release-date;
    color:#525f7f;
  }
  &__loader{
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 8rem;
  }
}

.custom-input{
  position: relative;
  box-shadow: 0 3px 2px rgba(230, 235, 240, 0.05);
  display: block;
  width: 100%;
  height: 2.5rem;
  padding: 0.625rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: $gray;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  outline: none;
  &:focus{
    border: 1px solid $primary;
  }
}
.custom-button{
  min-width: 90px;
  font-weight: 600;
  color: #fff;
  background-color: #172b4d;
  text-align: center;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  cursor: pointer;
  &:hover{
    transform: scale(1.05);
    background-color: #213D6E;
  }
}
.character{
  font-weight: 600;
  font-size: 1.25rem;
  color: $primary;
}

.search-results {
  display: none;
  position: absolute;
  width: 100%;
  overflow-y: auto;
  padding: 0;
  &__loader {
    height: 100px;
    border: 1px solid #ddd;
    background-color: rgba(230, 235, 240, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__item{
    cursor: pointer;
    &:first-child, &:last-child{
      border: 1px solid #ddd;
    }
    &:nth-child(2){
      border-top: none;
    }
    border: 1px solid #ddd;
    border-bottom: none;
    background-color: rgba(230, 235, 240, 0.05);
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: $primary;
    display: block;
    &:hover{
      color: #505091;
    }
  }
  &--show{
    display: inline;
  }
}

.error{
  grid-row: 2;
  grid-column: 2;
  color: red;
}